<div>

    {% for room in rooms %}
    <em>
        <a href="{% url 'user' room.host.id %}">
            @{{room.host.username}}
        </a>
    </em>
    {% if request.user == room.host %}
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %}
    <h3>
        {{room.id}} --
        <a href="{% url 'room' room.id %}">
            {{room.name}}
        </a>
    </h3>
    <small>
        {{room.topic.name}}
    </small>
    <hr>
    {% endfor %}
</div>
</div>