{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>Home Template</h1>
<div class="home-container">
    <div>
        {% include 'base/topics.html' %}
    </div>

    <div>
        <h5>{{room_count}} room{% if room_count > 1 %}s{% endif %} available</h5>
        <a href="/create_room">Create a post</a>
        <hr>
       {% include 'base/feed.html' %}
    <div>
        {% include 'base/activity.html' %}
    </div>
</div>
    {% endblock content %}
