{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<h1>Home Template</h1>
<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h5>{{room_count}} room{% if room_count > 1 %}s{% endif %} available</h5>
        <a href="/create_room">Create a post</a>
        <hr>
        <div>

            {% for room in rooms %}
            <span>
                @{{room.host.username}}
            </span>
            {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
            {% endif %}
            <h3>
                {{room.id}} --
                <a href="{% url 'room' room.id %}">
                    {{room.name}}
                </a>
            </h3>
            <small>
                {{room.topic.name}}
            </small>
            <hr>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}

</div>